body {
	padding-top: 110px;
	line-height: 1.6;
	font-size: 1rem;
}
section {
	margin: 0 auto;
}
.position-relative {
	position: relative !important;
}
.bg-gray {
	background-color: #363636 !important;
}
@media (min-width: 1200px) {
	html .w-xl-400p {
		width: 400px !important;
	}
}
@media (min-width: 992px) {
	html .w-lg-350p {
		width: 350px !important;
	}
}
section {
  overflow: hidden;
  max-width: 450px;
}
/* Form */

.form-control {
	border-radius: 2px;
	height: calc(1.5em + 1rem + 2px);
	padding-left: 1rem;
	display: block;
	width: 100%;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.05rem;
	line-height: 1.5;
}
.form-group {
	margin-bottom: 0.8rem;
}
section,
input.form-control {
	border:1px solid #8792a3;
}
label {
	font-size: 1rem;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0;
}
label.error {
	position: absolute;
	font-size: 0.78rem;
	line-height: 1.25;
	padding-top: 4px;
	color: #d60e96;
}
.btn {
  border-radius: 0;
  color: #fff;
  font-weight: 600;
  background-color: #d60e96;
	border-color: #d60e96;
}
.btn:hover {
	background-color: #B20C7D;
	border: 1px solid #B20C7D;
}
#bottom-signup-form label.error,
#top-signup-form label.error {
	color: #fe0000;
	margin-bottom: 0;
}
/* End Form */

@media (min-width: 768px) {
	body {
		font-size: 1rem;
	}
}